
#left{
	width:200px;
	height:900px;
	background-color:#65A5FA;
	float:left;
	margin-right:20px;
}
#left h1{
	font:bold 50px 楷体;
	text-align:center;
	color:white;
}
#right{
	width:800px;
	height:1000px;
	float:left;
}