*{
	padding:0;
	margin:0;
	list-style:none;
	text-decoration:none;
	}
#header{
	height:100px;
	background-color:#333;
	color:white;
}
#logo{
	width:960px;
	height:100px;
	margin:0 auto;

}
#logo p{
	float:left;
	margin-top:40px;
}
 #logo ul{
	float:right;
}
 li{
	display:inline-block;
}
#banner{
	height:200px;
	background-color:#66BB33;
	position:relative;
}
#lunbo{
	position:absolute;
	bottom:10px;
	right:300px;
}
#lunbo div{
	width:20px;
	height:40px;
	border:1px solid black;
	float:left;
	line-height:40px;
	text-align:center;
	margin:5px;
	
}
#nav{
	margin:0 auto;
	width:960px;
	height:50px;
	border-bottom:1px solid gray;
	overflow:hidden;
}
#nav li{
	width:100px;
	height:50px;
	border:1px solid #666;
	border-radius:15px;
	text-align:center;
	line-height:40px;
	margin-top:15px;
	
}
#main{
	height:500px;
	width:960px;
	margin:5px auto;
	border:1px solid #666
	
}
#main p{
	float:left;
	padding:80px;
	margin:10px;
	border:1px solid black;
}
#footer{
	height:100px;
	background-color:#666;
}
#footer p{
	text-align:center;
	line-height:100px;
}